@model owasp_blog_insecure.Models.Comment

<div class="row">
    <div class="col-md-12">
        <h2>Add new comment</h2>
        <form method="post" asp-page="/Comment/Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="BlogEntryId" name="BlogEntryId" value="@Model.BlogEntry.Id">
            <div class="form-group">
                <textarea asp-for="@Model.Content" class="form-control"></textarea>
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
