#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 20;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  opacity: 1;
  transition: bottom 1s, opacity 2s;
}

#footer.hidden {
  bottom: -30px;
  opacity: 0;
  transition: bottom 1s, opacity 2s;
}

.footer-left {
  float: left;
  width: 33%;
  text-align: left;
}

.footer-center {
  float: left;
  width: 33%;
  text-align: center;
}

.footer-right {
  float: left;
  width: 33%;
  text-align: right;
  padding-right: 5px;
}
