.navigation {
  position: absolute;
  right: 20px;
  top: 20px;
}

.navigation-list {
  color: #000;
}

.navigation-list-element {
  list-style-type: square;
  transform: skewX(-30deg);
}

.navigation-list-element.active {
  color: #00ff00;
}
