@model List<owasp_blog_secure.Models.Comment>

<h2>Comments</h2>

@if(Model.Count == 0)
{
    <span>No comments</span>
    <hr>
}

@foreach (var item in Model)
{
    <p class="small">Author: @item.Author.UserName</p>
    <p>@item.Content</p>
    <hr>
}
