@model List<owasp_blog_secure.Models.Blog>
@inject SignInManager<IdentityUser> SignInManager

@foreach (var blogItem in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/BlogEntry/Index" asp-route-blogid="@blogItem.Id">@blogItem.Title</a>
    </li>
}

@if (SignInManager.IsSignedIn(User)) {
    <li class="nav-item">
        <span class="nav-link text-dark">/</span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Blog/Index">Blog</a>
    </li>
}
