@page
@model owasp_blog_secure.Pages_BlogEntry.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Model.BlogEntry.Title</h1>
    <p class="small">@Model.BlogEntry.Created.ToLongDateString() / by @Model.BlogEntry.Author.UserName</p>
    <p>@Html.Raw(Model.BlogEntry.Content)</p>
    <hr>
    @await Component.InvokeAsync("CommentList", new { blogEntryId = @Model.BlogEntry.Id })
    @await Component.InvokeAsync("CommentWrite", new { blogEntryId = @Model.BlogEntry.Id })
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BlogEntry.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
