@page
@model owasp_blog_secure.Pages_BlogEntry.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogEntry.Id" />
            <div class="form-group">
                <label asp-for="BlogEntry.Title" class="control-label"></label>
                <input asp-for="BlogEntry.Title" class="form-control" />
                <span asp-validation-for="BlogEntry.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogEntry.Content" class="control-label"></label>
                <textarea asp-for="BlogEntry.Content" class="form-control"></textarea>
                <span asp-validation-for="BlogEntry.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

