@page
@model owasp_blog_secure.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.UrlPart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.UrlPart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blog.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<a asp-page="/BlogEntry/Create" asp-route-blogid="@Model.Blog.Id">Add BlogEntry</a>
