@page
@model owasp_blog_insecure.Pages_BlogEntry.IndexModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User)) {
    <h1>Index</h1>

    <p>
        <a asp-page="Create" asp-route-blogid="@Model.BlogEntry[0].Blog.Id">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlogEntry[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogEntry[0].Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogEntry[0].Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogEntry[0].Author)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.BlogEntry) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}

@foreach (var item in Model.BlogEntry) {
    <h1>@item.Title</h1>
    <p class="small">@item.Created.ToLongDateString() / by @item.Author.UserName</p>
    <p>
        
        @if(item.Content.Length > 50){
            @item.Content.Substring(0, 50);
        } else {
            @item.Content;
        }
    </p>
    <a asp-page="/BlogEntry/Details" asp-route-id="@item.Id">Read More -></a>
    <hr>
}
